UPSTASH_REDIS_REST_URL=https://enabling-pony-158460.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAmr8AAIgcDExMDg1ODdhM2VmMTQ0OTIyODI5MzI5OGI0Y2IzYTU3Zg
ADMIN_PASSWORD=thlongpremium2025
API_KEY=lua_secret_key_123
